In [71]:
import hopsworks
import joblib

project = hopsworks.login()

fs = project.get_feature_store()
mr = project.get_model_registry()

Connection closed.
Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/549021
Connected. Call `.close()` to terminate connection gracefully.
Connected. Call `.close()` to terminate connection gracefully.

In [234]:
import pandas as pd
import requests
from datetime import datetime, timedelta

mr = project.get_model_registry()
model = mr.get_model("spot50_k_nnt", version=1)
model_dir = model.download()
model = joblib.load(model_dir + "/spot50_k_nn.pkl")

Connected. Call `.close()` to terminate connection gracefully.

In [235]:
import requests
import json
import io
import base64
import pandas as pd
from datetime import datetime, timedelta, timezone

def fetch_latest_data1():
    url = "url"
    
   
    
    payload = json.dumps({
        "dev_eui": "70B3D56380000150",
        "from": "2024-05-26",
        "to": "2024-05-27"
    })
    

    
    username = "username"
    pwd = "pwd"
    basic_auth = base64.b64encode(f"{username}:{pwd}".encode())
 
    headers = {
        'Content-Type': 'application/json',
        'Authorization': f'Basic {basic_auth.decode("utf-8")}'
    }
 
    response = requests.request("GET", url, headers=headers, data=payload)
 
    if response.status_code != 200:
        print(f"Failed to fetch data. Status code: {response.status_code}")
        print(response.text)
        return None
 
    csv_data = response.text
    df = pd.read_csv(io.StringIO(csv_data))
    
    return df

df = fetch_latest_data1()
if df is not None:
    print(df)

                           time  battery  temperature    x    y    z  0_radar  \
0    2024-05-26 00:03:17.026000      NaN          NaN -455  304  104      NaN
1    2024-05-26 00:18:22.026000    3.647       15.125 -460  303  103      NaN
2    2024-05-26 00:18:31.992000      NaN          NaN -457  303  106      NaN
3    2024-05-26 00:33:38.992000      NaN          NaN -463  307  102      NaN
4    2024-05-26 00:48:25.992000    3.641       15.125 -458  303  108      NaN
..                          ...      ...          ...  ...  ...  ...      ...
127  2024-05-26 23:21:42.768000    3.647       15.000 -455  307  101      NaN
128  2024-05-26 23:21:51.397000      NaN          NaN -460  302  101      NaN
129  2024-05-26 23:36:59.397000      NaN          NaN -458  307  103      NaN
130  2024-05-26 23:52:01.397000    3.641       14.750 -459  306  103      NaN
131  2024-05-26 23:52:10.366000      NaN          NaN -453  305   97      NaN

     1_radar  2_radar  3_radar  4_radar  5_radar  6_radar  7_radar  \
0        NaN      NaN      NaN      NaN      NaN      NaN      NaN
1        NaN      NaN      NaN      NaN      NaN      NaN      NaN
2        NaN      NaN      NaN      NaN      NaN      NaN      NaN
3        NaN      NaN      NaN      NaN      NaN      NaN      NaN
4        NaN      NaN      NaN      NaN      NaN      NaN      NaN
..       ...      ...      ...      ...      ...      ...      ...
127      NaN      NaN      NaN      NaN      NaN      NaN      NaN
128      NaN      NaN      NaN      NaN      NaN      NaN      NaN
129      NaN      NaN      NaN      NaN      NaN      NaN      NaN
130      NaN      NaN      NaN      NaN      NaN      NaN      NaN
131      NaN      NaN      NaN      NaN      NaN      NaN      NaN

               package_type  f_cnt  dr  snr  rssi            hw_fw_version
0    PackageType.HEART_BEAT  25708   5  8.5  -105  DataVersion.HW_1FW1_X_X
1    PackageType.HEART_BEAT  25708   5  8.5  -105  DataVersion.HW_1FW1_X_X
2    PackageType.HEART_BEAT  25709   5  7.5  -105  DataVersion.HW_1FW1_X_X
3    PackageType.HEART_BEAT  25709   5  7.5  -105  DataVersion.HW_1FW1_X_X
4    PackageType.HEART_BEAT  25709   5  7.5  -105  DataVersion.HW_1FW1_X_X
..                      ...    ...  ..  ...   ...                      ...
127  PackageType.HEART_BEAT  25754   5  9.0  -106  DataVersion.HW_1FW1_X_X
128  PackageType.HEART_BEAT  25755   5  8.5  -103  DataVersion.HW_1FW1_X_X
129  PackageType.HEART_BEAT  25755   5  8.5  -103  DataVersion.HW_1FW1_X_X
130  PackageType.HEART_BEAT  25755   5  8.5  -103  DataVersion.HW_1FW1_X_X
131  PackageType.HEART_BEAT  25756   5  9.0  -106  DataVersion.HW_1FW1_X_X

[132 rows x 20 columns]

In [236]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   time           132 non-null    object
 1   battery        44 non-null     float64
 2   temperature    44 non-null     float64
 3   x              132 non-null    int64
 4   y              132 non-null    int64
 5   z              132 non-null    int64
 6   0_radar        0 non-null      float64
 7   1_radar        0 non-null      float64
 8   2_radar        0 non-null      float64
 9   3_radar        0 non-null      float64
 10  4_radar        0 non-null      float64
 11  5_radar        0 non-null      float64
 12  6_radar        0 non-null      float64
 13  7_radar        0 non-null      float64
 14  package_type   132 non-null    object
 15  f_cnt          132 non-null    int64
 16  dr             132 non-null    int64
 17  snr            132 non-null    float64
 18  rssi           132 non-null    int64
 19  hw_fw_version  132 non-null    object
dtypes: float64(11), int64(6), object(3)
memory usage: 20.8+ KB

In [237]:
df.head(20)

,time,battery,temperature,x,y,z,0_radar,1_radar,2_radar,3_radar,4_radar,5_radar,6_radar,7_radar,package_type,f_cnt,dr,snr,rssi,hw_fw_version
0,2024-05-26 00:03:17.026000,NaN,NaN,-455,304,104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PackageType.HEART_BEAT,25708,5,8.5,-105,DataVersion.HW_1FW1_X_X
1,2024-05-26 00:18:22.026000,3.647,15.125,-460,303,103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PackageType.HEART_BEAT,25708,5,8.5,-105,DataVersion.HW_1FW1_X_X
2,2024-05-26 00:18:31.992000,NaN,NaN,-457,303,106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PackageType.HEART_BEAT,25709,5,7.5,-105,DataVersion.HW_1FW1_X_X
3,2024-05-26 00:33:38.992000,NaN,NaN,-463,307,102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PackageType.HEART_BEAT,25709,5,7.5,-105,DataVersion.HW_1FW1_X_X
4,2024-05-26 00:48:25.992000,3.641,15.125,-458,303,108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PackageType.HEART_BEAT,25709,5,7.5,-105,DataVersion.HW_1FW1_X_X
5,2024-05-26 00:48:35.700000,NaN,NaN,-454,302,103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PackageType.HEART_BEAT,25710,5,7.5,-106,DataVersion.HW_1FW1_X_X
6,2024-05-26 01:03:37.700000,NaN,NaN,-459,304,108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PackageType.HEART_BEAT,25710,5,7.5,-106,DataVersion.HW_1FW1_X_X
7,2024-05-26 01:18:37.700000,3.647,15.000,-453,303,103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PackageType.HEART_BEAT,25710,5,7.5,-106,DataVersion.HW_1FW1_X_X
8,2024-05-26 01:18:46.547000,NaN,NaN,-458,303,106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PackageType.HEART_BEAT,25711,5,10.2,-104,DataVersion.HW_1FW1_X_X
9,2024-05-26 01:33:28.547000,NaN,NaN,-451,308,101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PackageType.HEART_BEAT,25711,5,10.2,-104,DataVersion.HW_1FW1_X_X
10,2024-05-26 01:48:20.547000,3.644,15.125,-449,304,94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PackageType.HEART_BEAT,25711,5,10.2,-104,DataVersion.HW_1FW1_X_X
11,2024-05-26 01:48:31.157000,NaN,NaN,-459,301,99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PackageType.HEART_BEAT,25712,5,9.0,-104,DataVersion.HW_1FW1_X_X
12,2024-05-26 02:03:36.157000,NaN,NaN,-453,301,96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PackageType.HEART_BEAT,25712,5,9.0,-104,DataVersion.HW_1FW1_X_X
13,2024-05-26 02:18:27.157000,3.644,15.000,-451,308,101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PackageType.HEART_BEAT,25712,5,9.0,-104,DataVersion.HW_1FW1_X_X
14,2024-05-26 02:18:36.965000,NaN,NaN,-453,298,108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PackageType.HEART_BEAT,25713,5,9.2,-102,DataVersion.HW_1FW1_X_X
15,2024-05-26 02:33:34.965000,NaN,NaN,-458,302,104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PackageType.HEART_BEAT,25713,5,9.2,-102,DataVersion.HW_1FW1_X_X
16,2024-05-26 02:48:33.965000,3.647,15.000,-453,307,102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PackageType.HEART_BEAT,25713,5,9.2,-102,DataVersion.HW_1FW1_X_X
17,2024-05-26 02:48:43.913000,NaN,NaN,-452,303,104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PackageType.HEART_BEAT,25714,5,10.0,-106,DataVersion.HW_1FW1_X_X
18,2024-05-26 03:03:40.913000,NaN,NaN,-457,302,101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PackageType.HEART_BEAT,25714,5,10.0,-106,DataVersion.HW_1FW1_X_X
19,2024-05-26 03:18:35.913000,3.641,15.000,-451,304,107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PackageType.HEART_BEAT,25714,5,10.0,-106,DataVersion.HW_1FW1_X_X

In [238]:
def drop_columns(df):
    df = df.drop(columns=['time', 'battery', '0_radar', '1_radar', '2_radar', '3_radar', '4_radar', '5_radar', '6_radar', '7_radar', 'f_cnt', 'dr', 'snr', 'rssi', 'hw_fw_version','package_type'])
    return df

In [239]:
def magnitude(df):
    df['magnitude'] = (df['x']**2 + df['y']**2 + df['z']**2)**0.5
    return df

In [240]:
df = magnitude(df)

In [241]:
def fill_temperature(df):
    df['temperature'] = df['temperature'].fillna(method='bfill')
    df['temperature'] = df['temperature'].fillna(method='ffill')
    return df

In [242]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

def scale_data(df):

    df['x'] = scaler.fit_transform(df[['x']])
    df['y'] = scaler.fit_transform(df[['y']])
    df['z'] = scaler.fit_transform(df[['z']])
    df['temperature'] = scaler.fit_transform(df[['temperature']])
    df['magnitude'] = scaler.fit_transform(df[['magnitude']])
    return df

In [243]:
def preprocess_data(df):
    feature_order = ['x', 'y', 'z', 'temperature', 'magnitude']
    df = df[feature_order]
    return df

In [244]:
df = preprocess_data(df)

In [245]:
df = scale_data(df)

In [246]:
df = fill_temperature(df)

2024-05-28 12:16:11,433 WARNING: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.

2024-05-28 12:16:11,435 WARNING: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.

In [247]:
df

          x    y         z  temperature  magnitude
0    0.5625  0.6  0.588235     1.000000   0.485377
1    0.2500  0.5  0.529412     1.000000   0.707077
2    0.4375  0.5  0.705882     1.000000   0.582037
3    0.0625  0.9  0.470588     1.000000   1.000000
4    0.3750  0.5  0.823529     1.000000   0.661149
..      ...  ...       ...          ...        ...
127  0.5625  0.9  0.411765     0.666667   0.557321
128  0.2500  0.4  0.411765     0.000000   0.647495
129  0.3750  0.9  0.529412     0.000000   0.742557
130  0.3125  0.8  0.529412     0.000000   0.760402
131  0.6875  0.7  0.176471     0.000000   0.330497

[132 rows x 5 columns]

In [248]:
def identify_anomalies(df, model):
    features = df
    predictions = model.predict(features)
    df['is_anomaly'] = predictions
    return df

In [249]:
features = df
features

          x    y         z  temperature  magnitude
0    0.5625  0.6  0.588235     1.000000   0.485377
1    0.2500  0.5  0.529412     1.000000   0.707077
2    0.4375  0.5  0.705882     1.000000   0.582037
3    0.0625  0.9  0.470588     1.000000   1.000000
4    0.3750  0.5  0.823529     1.000000   0.661149
..      ...  ...       ...          ...        ...
127  0.5625  0.9  0.411765     0.666667   0.557321
128  0.2500  0.4  0.411765     0.000000   0.647495
129  0.3750  0.9  0.529412     0.000000   0.742557
130  0.3125  0.8  0.529412     0.000000   0.760402
131  0.6875  0.7  0.176471     0.000000   0.330497

[132 rows x 5 columns]

In [250]:
predictions = model.predict(features)

In [251]:
df.head()

        x    y         z  temperature  magnitude
0  0.5625  0.6  0.588235          1.0   0.485377
1  0.2500  0.5  0.529412          1.0   0.707077
2  0.4375  0.5  0.705882          1.0   0.582037
3  0.0625  0.9  0.470588          1.0   1.000000
4  0.3750  0.5  0.823529          1.0   0.661149

In [252]:
identify_anomalies(df,model)

          x    y         z  temperature  magnitude  is_anomaly
0    0.5625  0.6  0.588235     1.000000   0.485377           0
1    0.2500  0.5  0.529412     1.000000   0.707077           0
2    0.4375  0.5  0.705882     1.000000   0.582037           0
3    0.0625  0.9  0.470588     1.000000   1.000000           0
4    0.3750  0.5  0.823529     1.000000   0.661149           0
..      ...  ...       ...          ...        ...         ...
127  0.5625  0.9  0.411765     0.666667   0.557321           0
128  0.2500  0.4  0.411765     0.000000   0.647495           1
129  0.3750  0.9  0.529412     0.000000   0.742557           1
130  0.3125  0.8  0.529412     0.000000   0.760402           1
131  0.6875  0.7  0.176471     0.000000   0.330497           1

[132 rows x 6 columns]

In [253]:
def run_inference(df, model):
    df = preprocess_data(df)
    df = identify_anomalies(df,model)
    return df

In [254]:
run_inference(df,model)

          x    y         z  temperature  magnitude  is_anomaly
0    0.5625  0.6  0.588235     1.000000   0.485377           0
1    0.2500  0.5  0.529412     1.000000   0.707077           0
2    0.4375  0.5  0.705882     1.000000   0.582037           0
3    0.0625  0.9  0.470588     1.000000   1.000000           0
4    0.3750  0.5  0.823529     1.000000   0.661149           0
..      ...  ...       ...          ...        ...         ...
127  0.5625  0.9  0.411765     0.666667   0.557321           0
128  0.2500  0.4  0.411765     0.000000   0.647495           1
129  0.3750  0.9  0.529412     0.000000   0.742557           1
130  0.3125  0.8  0.529412     0.000000   0.760402           1
131  0.6875  0.7  0.176471     0.000000   0.330497           1

[132 rows x 6 columns]

In [255]:
df.is_anomaly.value_counts()

is_anomaly
0    116
1     16
Name: count, dtype: int64